@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

/* MENU */
.contenedor-header {
  background: rgba(194, 224, 245, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  /* max-width: 1100px; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.contenedor-header header .logo a {
  letter-spacing: 7px;
  font-size: 32px;
  color: rgba(0, 75, 118, 1);
  text-decoration: none;
}

.selected-page {
  background-color: white;
  border-radius: 20px;
  padding: 280px;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a {
  text-align: none;
  color: black;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
  color: rgba(0, 75, 118, 1);

}

.nav-responsive {
  background-color: rgba(0, 75, 118, 1);

  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* INICIO*/

.inicio {
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.titulo-inicio {
  background-color: rgba(0, 75, 118, 1);

  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.inicio .contenido-banner {
  background-color: rgba(194, 224, 245, 1);
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 40px;
  color: black;
  text-align: justify;
  padding: 0 0 60px 0;
}

.inicio .contenido-banner h1 {
  font-size: 32px;
  color: white;
  font-weight: 500;
}

.inicio .contenido-banner h2 {
  margin-top: 15px;
  font-weight: normal;
  font-size: 17px;
}

.titulo {
  text-align: center;
  width: 100%;
  height: 25%;
}

.medio {
  width: 100%;
  height: 50%;
  padding: 0px 20px;
  margin: 30px;
}

.abajo {
  margin: 30px;
  margin-top: 15px;
  width: 100%;
  height: 25%;
  font-weight: bolder;
  padding: 0px 20px;
}

/*QUIENES SOMOS */
.nosotros {
  background-color: #fff;
  color: black;
  padding: 60px 20px;
}

.nosotros .contenido-seccion {
  margin: auto;
}

.nosotros h2 {
  font-size: 30px;
  text-align: center;
  padding: 40px 0;
  color: rgba(0, 75, 118, 1);

  font-weight: 600;
}

.nosotros .integrantes {
  background-color:rgba(194, 224, 245, 1);
  width: 300px;
  margin: 20px;
  padding: 30px 30px 70px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgb(90, 91, 91);
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  gap: 10px;
}

.nosotros .fotointegrante {
  width: 100%;
  box-sizing: border-box;
}

.NombreIntegrante {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: rgba(0, 75, 118, 1);

}

.nosotros .caja {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.progreso {
  position: relative;
}

.progreso .h1 {
  width: 50px;
  height: 50px;
  background-color: red;
  /* centrar vertical y horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.h1-construccion {
  font-weight: 600;
  color: rgba(0, 75, 118, 1);

}

.logo-proyecto {
  max-width: 100px;
}

.cont-descr-proyecto {
  padding: 20px;
  margin: 10px;
}

.tit-proyecto {
  font-weight: 600;
  color: white;
  font-size: 25px;
}

/* FOOTER*/
footer {
  display: flex;
  align-content: end;
  width: 100%;
  height: 6%;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 75, 118, 1);
  padding: 1em ;
  font-size: 20px;
  font-weight: normal;
  padding-right: 20px;
  justify-content: end;
  align-items: center;
  color: whitesmoke;
  display: flex;
  justify-content:space-between;
  
}

.titulo-enconstruccion {
  color: rgba(0, 75, 118, 1);

  margin: 0 auto;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

.enlacesitio{

  color:  rgba(0, 75, 118, 1);
}
.sitioweb{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
   
}

.contenedorvideo{
  position: relative;
  padding-bottom: 70%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  
}
.contenedorvideo iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 938px) {
  nav {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  #nav {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: rgba(0, 75, 118, 1);

    width: 180px;
  }

  #nav ul {
    display: block !important;
  }

  #nav ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }

  .selected-page {
    background-color: rgba(194, 224, 245, 1);

  }

  #nav a {
    color: white;
    font-size: 12px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .nav-responsive {
    display: block;
    font-size: 23px;
    cursor: pointer;
  }

  #nav {
    display: none;
  }

  input:checked~ul {
    display: block;
  }

  #menu-toggle:checked~#nav {
    display: block;
  }

  #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  #nav li {
    margin: 10px 0;
  }

  #nav a {
    color: white;
    text-decoration: none;
  }

  .caja {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    font-size: 14px;
    background: rgba(0, 75, 118, 1);



  }
}

@media screen and (max-width: 1400px) {
  footer {
    position: relative;
  }
}